* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.mainarea {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  z-index: 3;
}
#imgspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#holder {
  margin: 20px;
  position: relative;
}

#inputfield {
  min-width: 25%;
  height: 30px;
}

button {
  background-color: rgb(93, 93, 243);
  border: none;
  cursor: pointer;
  color: white;
  height: 30px;
  min-width: 10%;
  margin-left: 2px;
}

button:hover {
  background-color: rgb(42, 42, 248);
  
}

img {
  height: 200px;
  transition: 0.3s;
}


img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

p {
  color: white;
  width: 200px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  position: absolute;
  bottom: 5px;
}

/*from this part is glass effect*/
main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  max-height: 80vh;
  margin-top: 60px;
  margin-bottom: 60px;
  overflow-y: scroll;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
}

/*.glass::-webkit-scrollbar {
  display: none;
}*/

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 15%;
}

/*
body {
  background-color: black;
}

.search-box {
  transform: translate(-50%, -50%);
  width: 80px;
  height: 50px;
  overflow: hidden;
  transition: all 1s;
}

.search-box input {
  outline: none;
  border: none;
  background: #252525;
  color: white;
  font-size: 1.5rem;
  padding: 0 10px;
  opacity: 0;
  transition: all 1s;
}

.search-box:hover {
  width: 400px;
}
.search-box:hover input {
  opacity: 1;
}

.search-box .icon {
  background: #6930c3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}

.search-box .icon:hover {
  background: #8256c9;
}*/
